<!doctype html>
<html lang="en-GB"><head><meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

	<title>Ratings | Examples | Ractive.js</title>

	
	
	<link rel="stylesheet" href="examples.css">

	

	<style id="example-css" type="text/css">h3 {
	font-family: 'Voltaire';
}

.current-rating {
	float: left;
	margin-right: 2em;
	padding-top: 2em;
	text-align: center;
}

.current-rating strong {
	display: block;
	clear: both;
	font-size: 6em;
	font-family: 'Voltaire';
}

.ratings {
	float: left;
	border-left: 1px solid #eee;
	padding-left: 1em;
}

.rating {
	margin: 0 0 1em 0;
}

.rating:after {
	content: '';
	display: table;
	clear: both;
}

.star {
	font-size: 2em;
	color: #eee;
	cursor: pointer;
	display: block;
	float: left;
}

.readonly .star {
	cursor: default;
}

.highlighted {
	color: #ccc;
}

.selected {
	color: #729d34;
}</style></head>

<body class="example"><header><h1>Ratings</h1>
		<a class="more-examples" href="./">more Ractive.js examples &raquo;</a></header>

	<div class="example-container"><div id="example"><noscript><p class=message>Please <a href=www.enable-javascript.com>enable JavaScript</a> to view this example.</p></noscript></div></div>

	<div id="info"></div>


	<script id="infoTemplate" type="ractive"><div class='controls'>
			<span on-tap='select:readme'     class='tab <% selected === "readme"     ? "selected" : "" %>'>readme</span>
			<span on-tap='select:template'   class='tab <% selected === "template"   ? "selected" : "" %>'>template</span>
			<span on-tap='select:javascript' class='tab <% selected === "javascript" ? "selected" : "" %>'>javascript</span>
			<span on-tap='select:css'        class='tab <% selected === "css"        ? "selected" : "" %>'>css</span>
		</div>

		<div class='wrapper'>
			<div id='readme-tab'     class='<% selected === "readme" ? "visible" : "hidden" %>'>
				<p>Creating a simple star rating widget is the kind of thing that quickly turns to spaghetti if you try and build it by hand, or even with jQuery &ndash; lots of manually adding and removing classes, probably using tricks like <code>$.index()</code> or <code>this.getAttribute( 'data-index' )</code> and other such horrors.</p>

<p>Because <span class='logo'>Ractive.js</span> is stateful, and uses dependency tracking to propagate changes efficiently (in other words, it enables what is often referred to as 'reactive programming'), there are no such headaches.</p>

<p>This demonstration was inspired by this <a href='http://www.quora.com/Pete-Hunt/Posts/Facebooks-React-vs-AngularJS-A-Closer-Look'>Quora post from Pete Hunt</a>, lead developer of <a href='http://facebook.github.io/react/index.html'>React</a>, which sought to compare React to AngularJS.</p>

<p>There's way too much of this kind of Angular v Ember v React v [insert framework here] chest-beating in our community, and I don't want to add to it (though Pete's post was a legitimate defence of React). But look how much simpler the <span class='logo'>Ractive.js</span> code is!</p>
			</div>

			<pre id='template-tab'   class='prettyprint language-html <% selected === "template" ? "visible" : "hidden" %>'></pre>
			<pre id='javascript-tab' class='prettyprint language-javascript <% selected === "javascript" ? "visible" : "hidden" %>'></pre>
			<pre id='css-tab'        class='prettyprint language-css <% selected === "css" ? "visible" : "hidden" %>'></pre>
		</div></script>

	<script id="example-template" type="text/ractive"><p class='current-rating'>current rating: <strong>{{rating}}</strong></p>

<div class='ratings'>
  <h3>Clickable Rating</h3>

  <div class='rating'>
    {{#stars:i}}
      <span class='star {{ rating > i ? "selected" : "" }} {{ highlight > i ? "highlighted" : "" }}'
            on-tap='select:{{ i+1 }}'
            on-hover='highlight:{{ i+1 }}'
      >&#9733;</span>
    {{/stars}}
  </div>

  <h3>Readonly rating</h3>

  <div class='rating readonly'>
    {{#stars:i}}
      <span class='star {{ rating > i ? "selected" : "" }}'>&#9733;</span>
    {{/stars}}
  </div>
</div></script>

	
	<script src="lib/Ractive-legacy.js"></script>
	<script src="lib/Ractive-events-tap.min.js"></script>
	<script src="lib/highlight.js"></script>
	<script src="lib/Ractive-events-hover.min.js"></script>
	<script src="js/example.js"></script>

	<script id="example-javascript">var ractive = new Ractive({
  el: example,
  template: template,
  data: {
    rating: 5,
    stars: new Array( 10 ) // just so we have something to iterate over
  }
});

ractive.on({
  select: function ( event, rating ) {
    this.set( 'rating', rating );
  },
  highlight: function ( event, rating ) {
    if ( event.hover ) {
      this.set( 'highlight', rating );
    } else {
      this.set( 'highlight', 0 );
    }
  }
});

// if you wanted to save the rating...
ractive.observe( 'rating', function ( rating ) {
  // jQuery pseudo-code:
  // $.post( backendURL, rating, successHandler );
  console.log( 'saving rating: ', rating );
}, { init: false }); // init: false so it doesn't save until it changes</script>

	<script>initExample();</script></body></html>