[[#example]]<!doctype html>
<html lang='en-GB'>
<head>
	<meta charset='utf-8'>
	<title>[[meta.name]] | Examples | Ractive.js</title>

	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

	<link rel='icon' type='image/png' href='assets/favicon.png'>
	<link rel='stylesheet' href='min.css'>

	<!--[if lte IE 8]>
		<script src='assets/respond.min.js'></script>
	<![endif]-->

	<!--[if lte IE 8]>
		<script src='lib/aight.min.js'></script>
		<script>
			window.internetExploder = true;
		</script>
	<![endif]-->

	<style id='example-css' type='text/css'>
[[styles]]
	</style>
</head>

<body class='example'>

	<%= nav('examples') %>

	<header>
		<h1>[[meta.name]]</h1>
	</header>

	<main>
		<div class='example-container'>
			<div id='example'>
				<noscript>
					<p class='message'>Please <a href='www.enable-javascript.com'>enable JavaScript</a> to view this example.</p>
				</noscript>
			</div>
		</div>

		<div id='info'></div>
	</main>

	<%= footer %>


	<script id='infoTemplate' type='ractive'>
		<div class='controls'>
			<span on-tap='select:readme'     class='tab {{ selected === "readme"     ? "selected" : "" }}'>readme</span>
			<span on-tap='select:template'   class='tab {{ selected === "template"   ? "selected" : "" }}'>template</span>
			<span on-tap='select:javascript' class='tab {{ selected === "javascript" ? "selected" : "" }}'>javascript</span>
			<span on-tap='select:css'        class='tab {{ selected === "css"        ? "selected" : "" }}'>css</span>
		</div>

		<div class='wrapper'>
			<div id='readme-tab'     class='{{ selected === "readme" ? "visible" : "hidden" }}'>
				[[[clean(readme)]]]
			</div>

			<pre id='template-tab'   class='prettyprint language-html {{ selected === "template" ? "visible" : "hidden" }}'></pre>
			<pre id='javascript-tab' class='prettyprint language-javascript {{ selected === "javascript" ? "visible" : "hidden" }}'></pre>
			<pre id='css-tab'        class='prettyprint language-css {{ selected === "css" ? "visible" : "hidden" }}'></pre>
		</div>
	</script>

	<script id='example-template' type='text/ractive'>
[[[clean(template)]]]
	</script>

	<!-- JS -->
	<script src='lib/ractive-legacy.js'></script>
	<script src='lib/ractive-events-tap.min.js'></script>
	<script src='lib/highlight.js'></script>

	<!-- libs used by the example -->
	[[#meta.libs]]
	<script src='lib/[[this]]'></script>
	[[/meta.libs]]

	<script src='js/example.js'></script>
	<script src='assets/nav.js'></script>

	<script id='example-javascript'>
[[clean(javascript)]]
	</script>

	<script>
		initExample();
	</script>

</body>
</html>[[/example]]
